# Node.js modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# TypeScript cache
*.tsbuildinfo

# Testing
coverage/

# Misc
.DS_Store
Thumbs.db
